@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", system-ui, sans-serif;
  
  /* Custom Neutral colors */
  --color-neutral-50: #f8f9fa;
  --color-neutral-100: #f1f3f5;
  --color-neutral-200: #e9ecef;
  --color-neutral-300: #dee2e6;
  --color-neutral-400: #ced4da;
  --color-neutral-500: #adb5bd;
  --color-neutral-600: #6c757d;
  --color-neutral-700: #495057;
  --color-neutral-800: #343a40;
  --color-neutral-900: #212529;
  --color-neutral-950: #121416;
  
  --color-brand-accent: #2e384d;
}

/* Custom scrollbar to keep it sleek and minimalist */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f3f5;
}
::-webkit-scrollbar-thumb {
  background: #adb5bd;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6c757d;
}

/* Custom typography readable styles */
body {
  font-family: "Vazirmatn", sans-serif;
  letter-spacing: -0.01em;
}

